* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h1 {
    padding: 2rem;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

label {
    display: flex;
    padding-bottom: 1rem;
    font-weight: 600;
}

input {
    padding: 0.8rem;
    margin-bottom: 1rem;
    border: #333 1px solid;
}

button {
    background-color: white;
    padding: 0.7rem;
    text-transform: uppercase;
    border: #333 1px solid;
    margin-bottom: 1rem;
}